<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Los Santos Police Department</title>
    <link rel="stylesheet" href="/css/auth/register.css">
</head>
<body>
    <div class="container">
        <h1 class="welcome">Register to</h1>
        <h1 class="header">ğ•·ğ–”ğ–˜ ğ•¾ğ–†ğ–“ğ–™ğ–”ğ–˜  
            <br>ğ•»ğ–”ğ–‘ğ–ğ–ˆğ–Š ğ•¯ğ–Šğ–•ğ–†ğ–—ğ–™ğ–’ğ–Šğ–“ğ–™
        </h1>
        <div class="form-container">
            <form action="/register" method="POST" class="form">
                <div class="input-container">
                    <input class="input" type="text" name="Username" placeholder="Username">
                    <i class="fas fa-user input-icon"></i>
                </div>
                <div class="input-container">
                    <input class="input" type="password" name="Password" placeholder="Password">
                    <i class="fas fa-lock input-icon"></i>
                </div>
                <input class="button-confirm" type="submit" value="Register">
            </form>
            <% if (locals.message) { %>
                <p class="error-message"><%= message %></p>
            <% } %>
            <a href="/login" class="register-link">Login here!</a>
        </div>
    </div>
</body>
</html>
