    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/" style="font-family: 'Pricedown'">ğ•·ğ–”ğ–˜ ğ•¾ğ–†ğ–“ğ–™ğ–”ğ–˜ ğ•»ğ–”ğ–‘ğ–ğ–ˆğ–Š ğ•¯ğ–Šğ–•ğ–†ğ–—ğ–™ğ–’ğ–Šğ–“ğ–™</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-warning" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="/news-announcements">News and Announcements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="/jobs">Jobs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          More
                        </a>
                        <ul class="dropdown-menu">
                          <!-- <li><a class="dropdown-item" href="/jobs">Jobs</a></li> -->
                            <li><a class="dropdown-item" href="/most-wanted-list">Most Wanted List</a></li>
                            <% if (locals.admin) { %>
                                <% if (admin == 'Admin') { %>
                                    <li><a class="dropdown-item" href="/register-admin">Register a Admin</a></li>
                                    <li><a class="dropdown-item" href="/anonymous-tips">Anonymous Tips</a></li>
                                <% } else {%>
                                    <li><a class="dropdown-item" href="/anonymous-tip-send" >Send an anonymous tip</a></li>
                                <% } %>
                            <% } else { %>
                                <li><a class="dropdown-item" href="/anonymous-tip-send" >Send an anonymous tip</a></li>
                            <% } %>
                          <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    <li class="nav-item">
                        <% if (logged) { %>
                            <a class="nav-link text-warning" href="/logout">Logout</a>
                        <% } else { %>
                            <a class="nav-link text-warning" href="/login">Login</a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>