<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Santos Police Department - anonymous tip</title>
</head>
<body>
    <form action="/post-anonymous-tip" method="post" enctype="multipart/form-data">
        <textarea name="tip" style="white-space: pre-wrap;"></textarea>
        <input type="file" name="tip-file" >
        <input type="submit" value="Send" >
    </form>
</body>
</html>