<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Santos Police Department Jobs</title>
    <link rel="stylesheet" href="/applications.css">
</head>
<body>
    <h1>Applications</h1>
    <% for (let i = 0; i < data.length; i++) { %>
        <div class="job-container animated-container">
            <h3><%= data[i].username %></h3>
            <p><strong>Email:</strong> <%= data[i].email %></p>
            <p><strong>Resume:</strong> <a href="/images/<%= data[i].resume_filename %>"><%= data[i].resume_filename %></a></p>
        </div>
    <% } %>
</body>
</html>
