<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Santos Police Department Job Post</title>
</head>
<body>
    <form action="/job-post" method="post">
        <textarea name="title" placeholder="Job Title"></textarea>
        <textarea name="description" placeholder="Job Description"></textarea>
        <select name="department">
            <option>Patrol Division</option>
            <option>Investigative Division</option>
            <option>Special Operations</option>
            <option>Support Services</option>
            <option>Administrative Division</option>
            <option>Specialized Units</option>
            <option>Emergency Management</option>
            <option>Others</option>
        </select>
        <select name="location_type" >
            <option>On Site</option>
            <option>Work From Home</option>
            <option>Hybrid</option>
        </select>
        <input type="text" name="location" placeholder="Location">
        <select name="type">
            <option>Full Time</option>
            <option>Part Time</option>
            <option>Temporary</option>
            <option>Contract</option>
            <option>Others</option>
        </select>
        <input type="date" name="last_apply_date" >
        <input type="submit" value="Post" > 
    </form>
</body>
</html>