/* Font Faces */
@font-face {
    font-family: myFont;
    src: url('./pricedown bl.otf');
}

@font-face {
    font-family: yourFont;
    src: url('./Pacifico.ttf');
}

@font-face {
    font-family: applyFont;
    src: url('./chalet.ttf');
}

/* Background */
body {
    font-family: Arial, sans-serif;
    position: relative;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background: url('/pd.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(1.9px);    
    transform: translateX(50px);
    z-index: -1;
    -webkit-animation: kenburns-bottom-left 5s ease-out infinite both;
            animation: kenburns-bottom-left 5s ease-out infinite both;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay to make text stand out */
    z-index: -1;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    position: relative;
    z-index: 1;
}

/* Form */
.job-post-form {
    width: 400px;
    background: rgba(255, 255, 255, 0.80); /* Lighter background for the form */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 20px 30px; /* Reduced top padding */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;   
}

.form-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #3498db; /* Neon Blue */
    margin-bottom: 20px;
    font-family: myFont;
}

/* Input Fields */
.input-field {
    width: calc(100% - 10px); /* Adjusted width for padding and border */
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    border: 1px solid #34495e; /* Dark Gray */
    border-radius: 5px;
    outline: none;
    background-color: #ecf0f1; /* Light Gray */
    font-size: 14px;
    color: #2d2d2d; /* Black */
    transition: border 0.3s;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.input-field:focus {
    border-color: #3498db; /* Neon Blue */
}

/* Submit Button */
.submit-btn {
    padding: 10px;
    background-color: rgba(16, 86, 82, .75); /* Custom Button Background */
    color: #ffffff; /* White */
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 0.5px 0.5px rgba(16, 86, 82, .75), 0px 1px 0.5px rgba(16, 86, 82, .75);
    width: calc(100% - 10px); /* Adjusted width for padding and border */
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}

.submit-btn:hover {
    background-color: rgba(16, 86, 82, 1); /* Darker Button Background */
    transform: translateY(-2px);
}

/* Responsive Design */
@media (max-width: 480px) {
    .job-post-form {
        width: 100%;
        padding: 20px;
    }
}

/* Ken Burns Effect */
/* ----------------------------------------------
 * Generated by Animista on 2024-7-15 16:16:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-bottom-left
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-bottom-left {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 84%;
              transform-origin: 16% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(-20px, 15px);
              transform: scale(1.25) translate(-20px, 15px);
      -webkit-transform-origin: left bottom;
              transform-origin: left bottom;
    }
  }
  @keyframes kenburns-bottom-left {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 84%;
              transform-origin: 16% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(-20px, 15px);
              transform: scale(1.25) translate(-20px, 15px);
      -webkit-transform-origin: left bottom;
              transform-origin: left bottom;
    }
  }
