@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;700&family=Pricedown&display=swap');

@font-face {
    font-family: myFont;
    src: url('./pricedown bl.otf');
}

@font-face {
    font-family: yourFont;
    src: url('./Pacifico.ttf');
}

@font-face {
    font-family: applyFont;
    src: url('./chalet.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

.ownFont {
    font-family: myFont;
    color: #ffffff;
    font-size: 3rem;
    margin-top: 10px; /* Reduced top margin */
    margin-bottom: 20px;
}

body {
    font-family: 'Anybody', sans-serif;
    background-color: #000000;
    color: #dcdcdc;
    margin: 0;
    padding: 0;
}

.apply-button {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 6px 12px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

.save-button{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 9px;
    margin-left: 41rem;
}
.save-button:hover{
    background-color: black;
    color: whitesmoke;
}


.job-filter {
    background-color: #bdc3c7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.job-filter h2 {
    color: #2980b9;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #2980b9;
    margin-bottom: 5px;
}

.form-group input[type="text"], .form-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e1e8ed;
    color: #2c3e50;
    font-size: 1em;
    box-sizing: border-box;
}

.form-group button[type="submit"] {
    background-color: #2980b9;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.form-group button[type="submit"]:hover {
    background-color: #1f6391;
}

.job-listings {
    overflow-y: auto; /* Vertical scrolling for job listings */
    height: calc(100vh - 40px); /* Calculate height to fit remaining viewport space */
    padding-right: 20px; /* Add padding to avoid content being hidden behind scrollbar */
}

.job-listings h2 {
    color: #dcdcdc;
    margin-bottom: 20px;
    margin-top: 10px; /* Reduced top margin */
}

.job {
    background-color: #f0f0f0; /* Lighter shade of white */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.job h3 {
    font-family: 'Pricedown', sans-serif;
    color: #2980b9;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.job p {
    margin: 5px 0;
    color: #2c3e50;
}

.job-details p {
    margin: 8px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333;
}

.job p.posted-on {
    font-size: 1em;
    color: #2980b9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px; /* Reduced bottom margin */
}

.job-details {
    margin-bottom: 15px;
}

a button {
    width: auto;
    font-family: yourFont;
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a button:hover {
    background-color: #1f6391;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
    }

    .job-filter, .job-listings {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .ownFont {
        font-size: 2.5rem;
    }

    .job-filter h2, .job-listings h2 {
        font-size: 1.5rem;
    }

    .job h3 {
        font-size: 1.3em;
    }

    .job p.posted-on {
        font-size: 0.9em;
    }

    a button {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .ownFont {
        font-size: 2rem;
    }

    .apply-button {
        font-size: 1rem;
        padding: 5px 10px;
    }

    .form-group input[type="text"], .form-group select {
        padding: 8px;
        font-size: 0.9em;
    }

    .form-group button[type="submit"] {
        padding: 8px 15px;
        font-size: 0.9em;
    }

    .job h3 {
        font-size: 1.2em;
    }

    .job p.posted-on {
        font-size: 0.9em;
    }

    a button {
        padding: 8px 15px;
        font-size: 0.9em;
    }
}
