<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Santos Police Department Job Post</title>
    <link rel="stylesheet" href="/css/job/job-post.css">
</head>
<body>
    <div class="container">
        <form class="job-post-form" action="/job-post" method="post">
            <h1 class="form-title">Post a Job</h1>
            <textarea class="input-field" name="title" placeholder="Job Title"></textarea>
            <textarea class="input-field" name="description" placeholder="Job Description"></textarea>
            <select class="input-field" name="department">
                <option>Patrol Division</option>
                <option>Investigative Division</option>
                <option>Special Operations</option>
                <option>Support Services</option>
                <option>Administrative Division</option>
                <option>Specialized Units</option>
                <option>Emergency Management</option>
                <option>Others</option>
            </select>
            <select class="input-field" name="location_type">
                <option>On Site</option>
                <option>Work From Home</option>
                <option>Hybrid</option>
            </select>
            <input class="input-field" type="text" name="location" placeholder="Location">
            <select class="input-field" name="type">
                <option>Full Time</option>
                <option>Part Time</option>
                <option>Temporary</option>
                <option>Contract</option>
                <option>Others</option>
            </select>
            <input class="input-field" type="date" name="last_apply_date">
            <input class="submit-btn" type="submit" value="Post">
        </form>
    </div>
</body>
</html>
