<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Santos Police Department - Anonymous Tip</title>
    <link rel="stylesheet" href="send-anonymous-tip.css">
</head>
<body>
    <div class="container">
        <h1>Anonymous Tip</h1>
        <form action="/post-anonymous-tip" method="post" enctype="multipart/form-data">
            <textarea name="tip" placeholder="Enter your tip" style="white-space: pre-wrap;" required></textarea>
            <input type="file" name="tip-file">
            <input type="submit" value="Send">
        </form>
    </div>
</body>
</html>
